In [26]:
#  gerekli kütüpleri dahil ettik
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import Lasso, LinearRegression, Ridge, ElasticNet
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor
from sklearn.preprocessing import LabelEncoder

In [5]:
# veriyi dahil etme
df = pd.read_csv("/content/Melbourne_housing_FULL.csv")

In [6]:
# ham veriye daha sonradan ulaşmak için
df_copy = df.copy()
# ilk 5 veriyi ekrana basma
df_copy.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [7]:
# veri bilgisine ulaşma
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [8]:
#veriler hakkında detaylı bilgi, size,shape, dimension
print(f'shape : {df_copy.shape}\n'
      f'size : {df_copy.size}\n'
      f'dimension: {df_copy.ndim}')
# verinin satır, sütun sayısı, bunlaın çarpımı ve boyutu:

shape : (34857, 21)
size : 731997
dimension: 2

In [18]:
# eksik değer kontrolü
df_copy.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [19]:
# İki ondalık hane göstermek için
pd.options.display.float_format = '{:.2f}'.format
# min-ort deger vs uyumsuzluk var mı bakmak için
df_copy.describe().T

,count,mean,std,min,25%,50%,75%,max
Rooms,34857.00,3.03,0.97,1.00,2.00,3.00,4.00,16.00
Price,27247.00,1050173.34,641467.13,85000.00,635000.00,870000.00,1295000.00,11200000.00
Distance,34856.00,11.18,6.79,0.00,6.40,10.30,14.00,48.10
Postcode,34856.00,3116.06,109.02,3000.00,3051.00,3103.00,3156.00,3978.00
Bedroom2,26640.00,3.08,0.98,0.00,2.00,3.00,4.00,30.00
Bathroom,26631.00,1.62,0.72,0.00,1.00,2.00,2.00,12.00
Car,26129.00,1.73,1.01,0.00,1.00,2.00,2.00,26.00
Landsize,23047.00,593.60,3398.84,0.00,224.00,521.00,670.00,433014.00
BuildingArea,13742.00,160.26,401.27,0.00,102.00,136.00,188.00,44515.00
YearBuilt,15551.00,1965.29,37.33,1196.00,1940.00,1970.00,2000.00,2106.00
Lattitude,26881.00,-37.81,0.09,-38.19,-37.86,-37.81,-37.75,-37.39
Longtitude,26881.00,145.00,0.12,144.42,144.93,145.01,145.07,145.53
Propertycount,34854.00,7572.89,4428.09,83.00,4385.00,6763.00,10412.00,21650.00

In [20]:
# veri tiplerini kontrol etmek için
df_copy.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [11]:
# duplicated verileri kontrol etme
df_copy.duplicated().sum()

1

In [12]:
# duplicated veriye erişmek için
df_copy.loc[df_copy.duplicated(keep=False), :]
# bu 2 satır da birebir aynı, veriler şansen mi aynı?

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
15857,Nunawading,1/7 Lilian St,3,t,NaN,SP,Jellis,17/06/2017,15.40,3131.00,...,3.00,2.00,405.00,226.00,2000.00,Manningham City Council,-37.83,145.17,Eastern Metropolitan,4973.00
15858,Nunawading,1/7 Lilian St,3,t,NaN,SP,Jellis,17/06/2017,15.40,3131.00,...,3.00,2.00,405.00,226.00,2000.00,Manningham City Council,-37.83,145.17,Eastern Metropolitan,4973.00

In [15]:
# Yinelenen verileri kaldır
df.drop_duplicates(inplace=True)
# Kaldırdıktan sonraki hali verileri tekrar görme
print("kaldırma işleminden sonra yineleyen veri sayısı:", df.duplicated().sum())

kaldırma işleminden sonra yineleyen veri sayısı: 0

In [21]:
# Tüm kolonların mod değerlerini aldık
sutun_modlari = df_copy.mode().iloc[0]
sutun_modlari

Suburb                         Reservoir
Address                     5 Charles St
Rooms                               3.00
Type                                   h
Price                          600000.00
Method                                 S
SellerG                           Jellis
Date                          28/10/2017
Distance                           11.20
Postcode                         3073.00
Bedroom2                            3.00
Bathroom                            1.00
Car                                 2.00
Landsize                            0.00
BuildingArea                      120.00
YearBuilt                        1970.00
CouncilArea      Boroondara City Council
Lattitude                         -37.84
Longtitude                        145.00
Regionname         Southern Metropolitan
Propertycount                   21650.00
Name: 0, dtype: object

In [22]:
# mod değerleri aldıktan sonra moda göre eksik değerleri doldurma
for sutun in df_copy.columns:
    df_copy[sutun].fillna(sutun_modlari[sutun], inplace=True)

In [23]:
# son hali için isnull kontrolü
df_copy.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [30]:
# Kategorik deişken dönüşümü
label_encoder = LabelEncoder()

# Suburb sütunu için Label Encoding
df_copy['Suburb'] = label_encoder.fit_transform(df_copy['Suburb'])

# Address sütunu için Label Encoding
df_copy['Address'] = label_encoder.fit_transform(df_copy['Address'])

# Type sütunu için Label Encoding
df_copy['Type'] = label_encoder.fit_transform(df_copy['Type'])

# Method sütunu için Label Encoding
df_copy['Method'] = label_encoder.fit_transform(df_copy['Method'])

# SellerG sütunu için Label Encoding
df_copy['SellerG'] = label_encoder.fit_transform(df_copy['SellerG'])

# CouncilArea sütunu için Label Encoding
df_copy['CouncilArea'] = label_encoder.fit_transform(df_copy['CouncilArea'])

# Regionname sütunu için Label Encoding
df_copy['Regionname'] = label_encoder.fit_transform(df_copy['Regionname'])

In [31]:
df_copy
#########

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,0,29458,2,0,600000.00,6,155,3/09/2016,2.50,3067.00,...,1.00,1.00,126.00,120.00,1970.00,31,-37.80,145.00,2,4019.00
1,0,32512,2,0,1480000.00,2,33,3/12/2016,2.50,3067.00,...,1.00,1.00,202.00,120.00,1970.00,31,-37.80,145.00,2,4019.00
2,0,15389,2,0,1035000.00,2,33,4/02/2016,2.50,3067.00,...,1.00,0.00,156.00,79.00,1900.00,31,-37.81,144.99,2,4019.00
3,0,9768,3,2,600000.00,7,296,4/02/2016,2.50,3067.00,...,2.00,1.00,0.00,120.00,1970.00,31,-37.81,145.01,2,4019.00
4,0,25128,3,0,1465000.00,5,33,4/03/2017,2.50,3067.00,...,2.00,0.00,134.00,150.00,1900.00,31,-37.81,144.99,2,4019.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,348,5862,4,0,1480000.00,0,152,24/02/2018,6.30,3013.00,...,1.00,3.00,593.00,120.00,1970.00,16,-37.81,144.88,6,6543.00
34853,348,16982,2,0,888000.00,5,321,24/02/2018,6.30,3013.00,...,2.00,1.00,98.00,104.00,2018.00,16,-37.82,144.89,6,6543.00
34854,348,7350,2,1,705000.00,2,152,24/02/2018,6.30,3013.00,...,1.00,2.00,220.00,120.00,2000.00,16,-37.82,144.88,6,6543.00
34855,348,5421,3,0,1140000.00,5,370,24/02/2018,6.30,3013.00,...,1.00,2.00,0.00,120.00,1970.00,16,-37.84,145.00,6,6543.00
34856,348,17743,2,0,1020000.00,0,276,24/02/2018,6.30,3013.00,...,1.00,0.00,250.00,103.00,1930.00,16,-37.82,144.89,6,6543.00

In [33]:
# aykırı deerleri tespit için ama bizde nan yerine 6000000 yazıyor
# Aykırı verileri kontrol etmek için kullanılacak sütunlar
columns_to_check = ['Landsize', 'BuildingArea']

# Aykırı verileri kontrol etme işlemi
for column in columns_to_check:
    z_scores = np.abs((df_copy[column] - df_copy[column].mean()) / df_copy[column].std())
    threshold = 3  # Aykırı değerlerin z-puanı bu eşik değerin üzerinde ise kabul edilecektir.

    # Aykırı verileri belirle
    outliers = df_copy[z_scores > threshold]

    # Aykırı verileri ekrana yazdır
    print(f"Aykırı veriler ({column} sütunu):")
    print(outliers)

Aykırı veriler (Landsize sütunu):
       Suburb  Address  Rooms  Type      Price  Method  SellerG        Date  \
1198       23    32953      3     0 2000000.00       7      165  28/08/2016
3539       88    22529      3     2  950000.00       2      155   4/03/2017
4149      128      175      3     0 1425000.00       2      205  25/02/2017
6195      206     9178      2     2  352500.00       2      370  18/03/2017
6591      209    24171      2     2  495000.00       2       42  18/03/2017
7786      260    20980      2     2 1340000.00       7       69   3/12/2016
7894      260     3938      2     1  600000.00       5      198  24/09/2016
8599      265     6660      3     0  572000.00       2      279  23/04/2016
9200      288    23623      1     2  315000.00       0      370   3/12/2016
9215      288    26355      2     2  978500.00       2      370   4/03/2017
9220      288    28770      2     2  600000.00       8       27   4/06/2016
9271      288    15692      2     2  600000.00       0       10  12/11/2016
9358      288    26364      2     2  827000.00       2      370  26/07/2016
9436      289     6432      2     2  600000.00       0      124  28/05/2016
12033     314    14872      2     2  600000.00       8      279   4/06/2016
12673      88     2416      2     1  945000.00       2      155   8/04/2017
13462     260    27084      2     2 1030000.00       2       50  29/04/2017
13691     288    23364      2     2  850000.00       2      370  22/04/2017
14414     159    24504      3     2 1210000.00       5       69   1/07/2017
14663     308    30161      2     0  600000.00       0      105   1/07/2017
15109     209    12579      2     2  585000.00       2       42   3/06/2017
15957     289    28887      2     2  642500.00       2      124  17/06/2017
16539     283      447      4     0 1070000.00       2      279  24/06/2017
17263     266    26654      2     2  615000.00       0      370  27/05/2017
17293     283     8203      3     0 1085000.00       2      131  27/05/2017
17715     260    30390      2     2  600000.00       4      370   8/07/2017
17760     288    19409      2     2  762500.00       2      370   8/07/2017
18036     137    21455      3     0 2700000.00       7      165  12/08/2017
18531     146    13629      4     0  807000.00       2      277  15/07/2017
18763     314    13968      2     2  341500.00       2      205  15/07/2017
19676     288     3316      2     2 1090000.00       2      370  29/07/2017
20072     189    33227      4     0 1600000.00       7      234   3/09/2017
20539     146    13443      4     0  780000.00       2      277   9/09/2017
20788     266    20985      2     2  592000.00       3      155   9/09/2017
21183     138    33523      3     0 1400000.00       0      205  16/09/2017
22632     236    30637      5     0 1355000.00       2      277  23/09/2017
23044      65    26225      3     0 1760000.00       2      370  26/08/2017
24413     146    17241      3     0  820000.00       2      277  14/10/2017
24800     338    23989      5     0 1030000.00       2      273  14/10/2017
25060     138    33523      3     0  600000.00       1      205  21/10/2017
25964     147    19622      3     0  930000.00       2      277  28/10/2017
26331     260    14458      3     0 1585000.00       2      198  28/10/2017
26357     263    13564      2     0  938000.00       2       74  28/10/2017
26600     124     3024      8     0  910000.00       2      386  30/09/2017
26868      54    29215      4     0 1050000.00       0      277  11/11/2017
27882     172    28918      6     0  600000.00       8      275  18/11/2017
28694     147    24639      4     0 1350000.00       3      275  25/11/2017
29137     308    16981      4     0  600000.00       0      155  25/11/2017
29653     199    13225      3     0  510000.00       2       40   6/01/2018
29991     344     8226      3     0  600000.00       0      155   6/01/2018
30451     162     5492      5     0  600000.00       5      198   9/12/2017
30470     170     7949      3     0  900000.00       2       50   9/12/2017
30585     219    30921      4     0 1225000.00       5      273   9/12/2017
30772     286     3296      2     0  600000.00       7      124   9/12/2017
31404     321    13268      3     0  600000.00       0      298  20/01/2018
32220     322    14912      4     0 1150000.00       0      202   3/03/2018
32577     109    27047      4     0  600000.00       0       42  17/02/2018
34055      54     3996      4     0  865000.00       2      277  24/02/2018

       Distance  Postcode  ...  Bathroom   Car  Landsize  BuildingArea  \
1198       9.20   3104.00  ...      1.00  2.00  75100.00        120.00
3539       1.60   3066.00  ...      2.00  1.00  15900.00        120.00
4149       9.40   3041.00  ...      2.00  2.00  10100.00        120.00
6195       9.20   3012.00  ...      1.00  1.00  15100.00         66.00
6591       8.70   3032.00  ...      2.00  2.00  37000.00        120.00
7786       3.80   3207.00  ...      2.00  2.00  21700.00        120.00
7894       3.80   3207.00  ...      2.00  1.00  14545.00        120.00
8599      11.20   3073.00  ...      1.00  2.00  41400.00        120.00
9200       3.30   3141.00  ...      1.00  0.00  14500.00        120.00
9215       3.30   3141.00  ...      2.00  2.00  17200.00        120.00
9220       3.30   3141.00  ...      2.00  1.00  17200.00         94.00
9271       3.30   3141.00  ...      1.00  1.00  14500.00        120.00
9358       3.30   3141.00  ...      2.00  2.00  17200.00        120.00
9436       1.20   3006.00  ...      1.00  1.00   8888.00         78.00
12033      5.30   3032.00  ...      1.00  1.00  16000.00        120.00
12673      1.60   3066.00  ...      1.00  1.00  15900.00         98.00
13462      3.80   3207.00  ...      2.00  2.00  21715.00         99.00
13691      3.30   3141.00  ...      2.00  2.00  17200.00        120.00
14414     13.80   3188.00  ...      2.00  2.00   9838.00        152.00
14663     15.50   3106.00  ...      1.00  0.00  13733.00        120.00
15109      4.30   3032.00  ...      2.00  2.00  37000.00         90.00
15957      0.70   3006.00  ...      1.00  1.00   8888.00         77.00
16539     34.60   3795.00  ...      2.00  3.00  38490.00        120.00
17263      2.40   3121.00  ...      2.00  1.00  14196.00         86.00
17293     34.60   3795.00  ...      2.00  2.00  76000.00        120.00
17715      3.50   3207.00  ...      1.00  1.00  15946.00         92.00
17760      2.70   3141.00  ...      1.00  1.00  17200.00         79.00
18036      2.10   3065.00  ...      3.00  1.00 433014.00        120.00
18531     45.90   3437.00  ...      2.00  3.00  40468.00        120.00
18763      4.30   3032.00  ...      1.00  1.00  16000.00         68.50
19676      2.70   3141.00  ...      2.00  2.00  17200.00        120.00
20072      7.30   3102.00  ...      2.00  2.00  12300.00        120.00
20539     45.90   3437.00  ...      3.00  2.00  20200.00        189.00
20788      2.40   3121.00  ...      2.00  1.00  14294.00         77.00
21183      3.60   3068.00  ...      2.00  2.00   9338.00        120.00
22632     48.10   3438.00  ...      3.00  5.00  44500.00      44515.00
23044      1.60   3053.00  ...      1.00  2.00   9405.00        134.00
24413     45.90   3437.00  ...      2.00  2.00  21600.00        165.00
24800     31.70   3429.00  ...      2.00  2.00  89030.00        120.00
25060      3.60   3068.00  ...      2.00  2.00   9338.00        120.00
25964     45.90   3437.00  ...      2.00  4.00  40468.00        215.00
26331      3.50   3207.00  ...      2.00  2.00   9071.00        134.00
26357      3.50   3054.00  ...      1.00  2.00   8970.00        120.00
26600     36.90   3782.00  ...      6.00  4.00   9833.00        120.00
26868     45.90   3437.00  ...      2.00  1.00 146699.00        120.00
27882     37.50   3340.00  ...      3.00 10.00  33000.00        120.00
28694     45.90   3437.00  ...      2.00  8.00  40469.00        245.00
29137     15.50   3106.00  ...      3.00  4.00  10036.00        398.00
29653     41.00   3910.00  ...      2.00  1.00  10120.00        116.00
29991     25.20   3115.00  ...      1.00  2.00  39300.00        120.00
30451      5.30   3122.00  ...      2.00  2.00   9900.00        120.00
30470     16.00   3190.00  ...      1.00  4.00  15600.00        120.00
30585     20.60   3064.00  ...      3.00  8.00  10590.00        300.00
30772      1.90   3205.00  ...      2.00  2.00   9198.00        135.00
31404     44.20   3756.00  ...      2.00  2.00  23970.00        297.00
32220     35.20   3139.00  ...      2.00  2.00  40500.00        120.00
32577     27.70   3427.00  ...      2.00  2.00  80000.00        120.00
34055     45.90   3437.00  ...      2.00  0.00  42800.00        180.00

       YearBuilt  CouncilArea  Lattitude  Longtitude  Regionname  \
1198     1970.00            2     -37.80      145.07           5
3539     1970.00           31     -37.80      144.99           2
4149     1970.00           22     -37.74      144.90           6
6195     2012.00           16     -37.78      144.87           6
6591     1970.00           16     -37.78      144.89           6
7786     2000.00           18     -37.84      144.94           5
7894     2000.00           18     -37.84      144.94           5
8599     1970.00            6     -37.71      145.03           2
9200     2011.00           18     -37.84      145.00           5
9215     2000.00           18     -37.84      145.00           5
9220     2005.00           18     -37.84      145.00           5
9271     2011.00           18     -37.84      145.00           5
9358     2000.00           18     -37.84      145.00           5
9436     1998.00           18     -37.82      144.97           5
12033    2012.00           22     -37.78      144.94           6
12673    1880.00           31     -37.80      144.99           2
13462    2005.00           18     -37.84      144.94           5
13691    2000.00           18     -37.84      145.00           5
14414    2010.00            1     -37.93      145.00           5
14663    1970.00           15     -37.74      145.16           0
15109    2004.00           16     -37.78      144.89           6
15957    1994.00           18     -37.82      144.97           5
16539    1970.00           32     -37.83      145.43           1
17263    2005.00           31     -37.82      145.01           2
17293    1970.00           32     -37.85      145.47           1
17715    2000.00           18     -37.84      144.94           5
17760    2003.00           18     -37.84      145.00           5
18036    1970.00           31     -37.80      144.98           2
18531    1970.00           14     -37.51      144.56           3
18763    2012.00           22     -37.78      144.94           6
19676    2000.00           18     -37.84      145.00           5
20072    1940.00            2     -37.79      145.04           5
20539    1985.00           14     -37.50      144.63           3
20788    2006.00           31     -37.82      145.01           2
21183    1970.00           24     -37.78      144.99           2
22632    1970.00           14     -37.45      144.59           3
23044    1880.00           18     -37.80      144.97           2
24413    1960.00           14     -37.50      144.61           3
24800    1970.00           11     -37.60      144.81           6
25060    1970.00           24     -37.78      144.99           2
25964    1970.00           14     -37.55      144.63           3
26331    1910.00           18     -37.84      144.94           5
26357    1970.00           31     -37.78      144.97           2
26600    1970.00            4     -37.91      145.44           1
26868    1970.00           14     -37.48      144.51           3
27882    1970.00           23     -37.69      144.49           7
28694    1990.00           14     -37.54      144.60           3
29137    2012.00           15     -37.74      145.16           0
29653    2012.00            7     -38.14      145.21           1
29991    1970.00           15     -37.73      145.28           1
30451    1970.00            2     -37.83      145.04           5
30470    1970.00            1     -37.95      145.04           5
30585    2005.00           11     -37.55      144.89           2
30772    1900.00           26     -37.84      144.95           5
31404    2005.00           20     -37.39      144.98           3
32220    1970.00           32     -37.77      145.41           1
32577    1970.00           11     -37.64      144.75           6
34055    2000.00           14     -37.47      144.54           3

       Propertycount
1198         7809.00
3539         4553.00
4149         1308.00
6195         3873.00
6591         4918.00
7786         8648.00
7894         8648.00
8599        21650.00
9200        14887.00
9215        14887.00
9220        14887.00
9271        14887.00
9358        14887.00
9436         8400.00
12033        1052.00
12673        4553.00
13462        8648.00
13691       14887.00
14414        5454.00
14663        6202.00
15109        4918.00
15957        8400.00
16539         457.00
17263       14949.00
17293         457.00
17715        8648.00
17760       14887.00
18036        5825.00
18531        3376.00
18763        1052.00
19676       14887.00
20072        2671.00
20539        3376.00
20788       14949.00
21183        6244.00
22632         849.00
23044        6786.00
24413        3376.00
24800          83.00
25060        6244.00
25964         290.00
26331        8648.00
26357        1008.00
26600        2259.00
26868         249.00
27882         242.00
28694         290.00
29137        6202.00
29653        8743.00
29991        1328.00
30451       11308.00
30470        4794.00
30585        1158.00
30772        5943.00
31404        3988.00
32220        1130.00
32577        1184.00
34055         249.00

[58 rows x 21 columns]
Aykırı veriler (BuildingArea sütunu):
       Suburb  Address  Rooms  Type      Price  Method  SellerG        Date  \
1639       41    19106      5     0  600000.00       2      234  10/09/2016
2296       49    29826      3     0 1053000.00       2      279  27/06/2016
2466       53    10221      4     0 1280000.00       2       23  11/03/2017
2704       62    24373      5     0 2608000.00       2      198  15/10/2016
3780      120    25770      2     2  741000.00       2       33  16/04/2016
4256      138     9848      2     1  930000.00       2      227   3/09/2016
4681      150     2161      2     1  600000.00       7      118  22/08/2016
5992      188    15048      5     0 1975000.00       2      165  18/06/2016
14387     144     8675      3     0  600000.00       5      370   1/07/2017
15003     151    16406      5     0  600000.00       0      279   3/06/2017
19537     198    26603      3     0  580500.00       2      185  29/07/2017
22531     187    10247      1     2  411500.00       2       97  23/09/2017
22632     236    30637      5     0 1355000.00       2      277  23/09/2017
23110     123    21438      3     0  600000.00       2      275  26/08/2017
29036     267    28101      5     0  600000.00       5      277  25/11/2017
30278     112    15491      4     0 1508000.00       5       23   9/12/2017
33405     160      266      4     1 1180000.00       0      364  17/03/2018

       Distance  Postcode  ...  Bathroom  Car  Landsize  BuildingArea  \
1639      13.10   3128.00  ...      3.00 4.00   1044.00       1044.00
2296       5.20   3056.00  ...      1.00 1.00    343.00       1041.00
2466      11.80   3105.00  ...      1.00 2.00    732.00       6791.00
2704       7.80   3124.00  ...      2.00 4.00    730.00       3112.00
3780       8.50   3185.00  ...      1.00 1.00      0.00       1561.00
4256       3.50   3068.00  ...      3.00 0.00   2778.00       3558.00
4681       9.20   3146.00  ...      1.00 1.00      0.00       1143.00
5992       5.60   3101.00  ...      2.00 1.00    531.00       1022.00
14387     38.00   3199.00  ...      2.00 5.00   3617.00       3647.00
15003     16.70   3150.00  ...      5.00 2.00    652.00       4645.00
19537     16.30   3075.00  ...      1.00 1.00    532.00        934.00
22531      3.40   3031.00  ...      1.00 1.00      0.00        999.00
22632     48.10   3438.00  ...      3.00 5.00  44500.00      44515.00
23110      7.20   3184.00  ...      2.00 3.00    923.00        924.00
29036     47.40   3431.00  ...      3.00 6.00      0.00       2002.00
30278     12.40   3108.00  ...      2.00 2.00      0.00        958.00
33405     13.80   3188.00  ...      3.00 2.00    674.00       6178.00

       YearBuilt  CouncilArea  Lattitude  Longtitude  Regionname  \
1639     1920.00           28     -37.82      145.13           0
2296     1925.00           24     -37.76      144.95           2
2466     1970.00           15     -37.76      145.09           0
2704     1920.00            2     -37.84      145.06           5
3780     1966.00            8     -37.88      145.00           5
4256     1970.00           24     -37.79      144.99           2
4681     1970.00            2     -37.85      145.05           5
5992     1890.00            2     -37.81      145.04           5
14387    1970.00            7     -38.18      145.11           4
15003    1970.00           21     -37.90      145.17           0
19537    1980.00           29     -37.66      145.03           2
22531    1970.00           18     -37.79      144.92           2
22632    1970.00           14     -37.45      144.59           3
23110    1970.00           26     -37.88      144.98           5
29036    2000.00           14     -37.46      144.69           3
30278    1970.00           15     -37.79      145.11           0
33405    1970.00            1     -37.94      145.04           5

       Propertycount
1639         4605.00
2296        11918.00
2466         4480.00
2704         8920.00
3780         4898.00
4256         6244.00
4681        10412.00
5992        10331.00
14387        7566.00
15003       15321.00
19537        8279.00
22531        5263.00
22632         849.00
23110        8989.00
29036        1475.00
30278        9028.00
33405        2356.00

[17 rows x 21 columns]

In [36]:
# Aykırı verileri temizlemek için kullanılacak sütunlar
columns_to_clean = ['Landsize', 'BuildingArea']
# abs mutlak degeri
# Aykırı veri temizleme işlemi

for column in columns_to_clean:
    z_scores = np.abs((df_copy[column] - df_copy[column].mean()) / df_copy[column].std())
    # ortalama degere olan uzaklıgı z_score değişkenine atayarak bulduk
    threshold = 3  # Aykırı değerlerin z-puanı bu eşik değerin üzerinde ise kabul edilecektir.
    df_copy = df_copy[z_scores <= threshold]
    # ortalamadan 3 standart sapma uzaklıkta olduğu anlamına gelir

In [ ]:
categorical_columns = ['Bathroom', 'Car']  # Eksik değerleri kontrol etmek istediğiniz sütunlar

# Eksik değerleri kontrol etme ve doldurma işlemi
for column in categorical_columns:
    mode_value = df[column].mode().iloc[0]  # Mode (moda) değerini hesapla
    df_copy[column] = df[column].fillna(mode_value)  # Eksik değerleri mode ile doldur

# Eksik değerleri doldurulmuş veriyi gözlemle
print(df)